<h1>Editing insuarance</h1>

<%= render "form", insuarance: @insuarance %>

<br>

<div>
  <%= link_to "Show this insuarance", @insuarance %> |
  <%= link_to "Back to insuarances", insuarances_path %>
</div>
